# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# Windows
Thumbs.db

# Logs
*.log

# Assignment reference files
ASSIGNMENT_SUPPORT_GUIDE.md
Grader_Rubric - MLOps Assignment.xlsx